@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Raleway:wght@400;500;600;700&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}
.banner {
   width: 100%;
   height: 747px;
   background-image: url(../imgs/banner.png), url(../imgs/background1.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   font-family: "Raleway", sans-serif;
}

header {
   display: flex;
   height: 96px;
   font-family: "Raleway", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}
header button {
   font-size: 13px;
   color: #fff;
   font-weight: 700;
   font-style: bold;
   border: none;
   background: none;
   text-transform: uppercase;
   width: 134px;
   height: 100%;
}
nav {
   margin-left: 316px;
   justify-content: center;
   align-items: center;
}
.header-container {
   align-self: center;
   display: flex;
}
.logo-subcontainer {
   max-width: 1170px;
   height: 400px;
   display: flex;
   justify-content: center;
   align-self: center;
}
/* .logo-subcontainer__info {
   width: 1170px;
} */
.logo-subcontainer__info .separator {
   width: 134px;
   border: 2px solid #babbc5;
   margin: 0 auto;
}
.logo-subcontainer__info .separator2 {
   width: 1170px;
   border: 0.5px solid #babbc5;
   margin: 0 auto;
}
.logo-subcontainer__info h1 {
   font-family: "Raleway", sans-serif;
   font-weight: 900;
   font-size: 64px;
   text-align: center;
   margin-bottom: 31.43px;
   margin-top: 131px;
   color: #fff;
   text-transform: uppercase;
}
.logo-subcontainer__info p {
   color: #fff;
   font-weight: 400;
   font-size: 24px;
   text-align: center;
   margin-bottom: 82px;
}
.logo-subcontainer__info button {
   background: #ff4343;
   width: 369px;
   height: 77.58px;
   color: #fff;
   font-size: 24px;
   font-weight: 900;
   border: none;
   margin-bottom: 120px;
   display: block;
   margin: 0 auto;
}
