.footer-container {
   width: 100%;
   height: 341px;
   font-family: "Raleway", sans-serif;
   display: flex;
}
.footer-subcontainer {
   width: 100%;
}
.footer-subcontainer__info {
   height: 251px;
   background: #353c65;
   color: #fff;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
}
.footer-subcontainer__copyright {
   height: 90px;
   font-size: 18px;
   font-weight: 400;
   background: #2c3154;
   color: #808080;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-subcontainer__copyright h5 {
   font-weight: 400;
   font-size: 18px;
   text-align: center;
}
.footer-subcontainer__copyright span {
   color: #fff;
   font-weight: 400;
   font-size: 18px;
}
.footer-subcontainer__info h5 {
   font-weight: 700;
   font-size: 18px;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 28px;
}
.footer-subcontainer__info .subtitle {
   font-size: 18px;
   font-weight: 400;
   text-transform: none;
   text-align: center;
}
.footer-subcontainer__info .share img {
   display: inline-block;
}
.footer-subcontainer__info .location {
   height: 112px;
   width: 370px;
}
.footer-subcontainer__info .share {
   height: 112px;
   width: 370px;
}
.footer-subcontainer__info .about {
   height: 112px;
   width: 370px;
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
   .footer-container {
      width: 100%;
      height: 229px;
   }
   .footer-subcontainer__info {
      height: 229px;
   }
   .footer-subcontainer__copyright {
      height: 60px;
      font-size: 14px;
   }
   .footer-subcontainer__copyright h5 {
      font-size: 14px;
   }
   .footer-subcontainer__copyright span {
      font-size: 14px;
   }
   .footer-subcontainer__info h5 {
      font-size: 14px;
      margin-bottom: 15px;
   }
   .footer-subcontainer__info .subtitle {
      font-size: 14px;
   }
   .footer-subcontainer__info .location {
      height: 49px;
      width: 315px;
   }
   .footer-subcontainer__info .share {
      height: 81px;
      width: 314px;
   }
   .footer-subcontainer__info .about {
      height: 79px;
      width: 315px;
   }
}
@media screen and (max-width: 479px) {
   .footer-container {
      width: 100%;
      height: 540px;
   }
   .footer-subcontainer__info {
      height: 540px;
   }
   .footer-subcontainer__copyright {
      height: 90px;
      font-size: 14px;
   }
   .footer-subcontainer__copyright h5 {
      font-size: 14px;
      font-weight: 700;
   }
   .footer-subcontainer__copyright span {
      font-size: 14px;
   }
   .footer-subcontainer__info h5 {
      font-size: 14px;
      margin-bottom: 38px;
   }
   .footer-subcontainer__info .subtitle {
      font-size: 14px;
   }
   .footer-subcontainer__info .location {
      height: 66px;
      width: 280px;
   }
   .footer-subcontainer__info .share {
      height: 85px;
      width: 279px;
   }
   .footer-subcontainer__info .about {
      height: 102px;
      width: 279px;
   }
}
