.testimonials-container {
  width: 100%;
}
.testimonials-subcontainer {
  display: flex;
  align-items: center;
  background: #5c3249;
}
.testimonials-container__circles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 31px auto;
}
.testimonials-container__circles div {
  width: 14px;
  height: 14px;
  border: 1px solid #7e5d6f;
  border-radius: 50%;
}
.testimonials-container img {
  display: block;
}
.testimonials-container__circles div:nth-child(2) {
  background: #7e5d6f;
}
.testimonials-container__circles div:not(:last-child) {
  margin-right: 25px;
}
.testimonials-subcontainer__right {
  width: calc(100% - 741px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-subcontainer__right h2 {
  width: 471px;
  font-size: 36px;
  font-weight: 400;
  font-family: "Cardo", serif;
  height: 230px;
  text-transform: capitalize;
  color: #fff;
  display: flex;
  align-items: center;
}
.testimonials-subcontainer__right h6 {
  font-size: 13px;
  font-weight: 700;
  height: 28px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .testimonials-container__circles {
    margin: 23px auto;
  }
  .testimonials-container__circles div {
    width: 9px;
    height: 9px;
    border: 1px solid #7e5d6f;
    border-radius: 50%;
  }
  .testimonials-subcontainer__right {
    width: calc(100% - 502px);
  }
  .testimonials-subcontainer__right h2 {
  width: 330px;
  font-size: 24px;
  height: 156px;
}
.testimonials-subcontainer__right h6 {
  font-size: 12px;
  height: 14px;
  line-height: 14px;
}
@media screen and (max-width: 479px) {
    .testimonials-container__circles {
    margin: 23px auto;
  }
  .testimonials-container__circles div {
    width: 9px;
    height: 9px;
    border: 1px solid #7e5d6f;
    border-radius: 50%;
  }
  .testimonials-subcontainer__right {
    width: calc(100% - 502px);
  }
  .testimonials-subcontainer__right h2 {
  width: 330px;
  font-size: 24px;
  height: 156px;
}
.testimonials-subcontainer__right h6 {
  font-size: 12px;
  height: 14px;
  line-height: 14px;
}
}
